@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400&display=swap');

html,
body {
  background-color: #e5e5e5;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
  font-family: 'Bitter', serif !important;
}

.main {
  padding: 10px 15px;
}

.mainTitle {
  color: #f0cd42;
  font-family: 'Bitter', serif !important;
  padding-bottom: 10px;
}

.title, .schedLabel {
  font-family: 'Bitter', serif !important;
}

.intro-box {
  background-color: #242424;
  color: white;
  text-align: center;
  height: 170px;
}

.indented {
  padding: 10px 15px;
}

.tab {
  padding-left: 10px;
}

.centered {
  text-align: center;
}

.memberImg {
  width: 100%;
}

.schedTableHeader {
  background-color: #242424;
}

.schedTableRow {
  background-color: #666666;
}

.schedHeaderCell {
  color: #f0cd42 !important;
}

.schedTableCell {
  color: white !important;
}

.schedLabel {
  padding-bottom: 10px;
}

.hearDropDown {
  width: 200px;
  text-align: center;
}

.padRight {
  padding-right: 10px;
}

.emailBox {
  width: 100%;
}

.adminContactTitle {
  padding-top: 10px;
}

.homeImg {
  width: 47%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.mainContactImg {
  width: 80px;
}

#mainContactContainer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#happyKoala {
  width: 300px;
}