@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400&display=swap');

html,
body {
  background-color: #3C3C39;
  color: #E6E6E6;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
  font-family: 'Bitter', serif !important;
}

.main {
  padding: 10px 15px;
}

.mainTitle {
  color: #E6E6E6;
  font-family: 'Bitter', serif !important;
  font-size: 15px;
  padding-bottom: 10px;
}

.title, .schedLabel {
  font-family: 'Bitter', serif !important;
}

.intro-box {
  background-color: #222220;
  color: white;
  text-align: center;
  padding-bottom: 25px;
}

.indented {
  padding: 10px 15px;
}

.tab {
  padding-left: 10px;
}

.centered {
  text-align: center;
}

.memberImg {
  width: 100%;
}

.schedTableHeader {
  background-color: #222220;
}

.schedTableRow {
  background-color: #666666;
}

.schedHeaderCell {
  color: #f0cd42 !important;
}

.schedTableCell {
  color: white !important;
}

.schedTableCell a {
  color: #f0cd42 !important;
  cursor: pointer;
}

.schedLabel {
  padding-bottom: 10px;
}

.hearDropDown {
  width: 200px;
  text-align: center;
}

.padRight {
  padding-right: 10px;
}

.emailBox {
  width: 100%;
}

.adminContactTitle {
  padding-top: 10px;
}

.mainContactImg {
  width: 80px;
}

#mainContactContainer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#happyKoala {
  width: 300px;
}

/* /Home */
.homeSlogan1 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  height: 30vh;
  padding: 20% 0 0 15%;
  text-align: center;
}
.homeSlogan2 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  height: 30vh;
  padding: 30% 20% 0 0;
  text-align: center;
}
.homeSlogan3 {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  padding: 5% 0 5% 35%;
}
.homeImg1 {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  margin-top: 10vh;
  margin-left: 10vw;
}
.homeImg2 {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  margin-left: 20%;
  margin-top: 5vh;
}
.homeSlogan1Underline {
  display: flex;
  background: #F0CD42;
  border-radius: 10px;
  width: 20vw;
  height: 1vw;
  margin: 2% 0% 0% 50%;
}
.homeSlogan2Underline {
  background: #F0CD42;
  border-radius: 10px;
  width: 20vw;
  height: 1vw;
  margin: 2% 0% 0% 20%;
}
.o2 {
  background-color: #f0cd42;
}


/* /Schedule */

/* /About Us */

/* /Projects */

/* /Contact US */