@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400&display=swap');

html,
body {
  background-color: #3C3C39;
  color: #E6E6E6;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
  font-family: 'Bitter', serif !important;
}

.main {
  padding: 10px 15px;
}

.mainTitle {
  color: #E6E6E6;
  font-family: 'Bitter', serif !important;
  font-size: 15px;
  padding-bottom: 10px;
}

.title, .schedLabel {
  font-family: 'Bitter', serif !important;
}

.intro-box {
  background-color: #222220;
  color: white;
  text-align: center;
  padding-bottom: 25px;
}

.indented {
  padding: 10px 15px;
}

.tab {
  padding-left: 10px;
}

.centered {
  text-align: center;
}

.memberImg {
  width: 100%;
}

.schedTableHeader {
  background-color: #222220;
}

.schedTableRow {
  background-color: #666666;
}

.schedHeaderCell {
  color: #f0cd42 !important;
}

.schedTableCell {
  color: white !important;
}

.schedTableCell a {
  color: #f0cd42 !important;
  cursor: pointer;
}

.schedLabel {
  padding-bottom: 10px;
}

.hearDropDown {
  width: 200px;
  text-align: center;
}

.padRight {
  padding-right: 10px;
}

.emailBox {
  width: 100%;
}

.adminContactTitle {
  padding-top: 10px;
}

.mainContactImg {
  width: 80px;
}

#mainContactContainer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#happyKoala {
  width: 300px;
}

/* /Home */
/* Upper Half Slogan + Image */
.homeSloganTxt {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700 !important;
}
.homeSloganGrid {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.homeImg {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
}
@media only screen and (max-width: 600px) {
  .homeImg {
    width: 45vw;
    height: 45vw;
    margin-bottom: 15px;
  }
}
.homeImgGrid {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.homeGridMargin {
  margin-top: 5vh;
}

.homeSlogan1Underline {
  display: flex;
  background: #F0CD42;
  border-radius: 10px;
  width: 20vw;
  height: 1vw;
}
.homeSlogan2Underline {
  background: #F0CD42;
  border-radius: 10px;
  width: 20vw;
  height: 1vw;
}

/* Bottom Half Faq */
.faqTitle {
  font-family: 'Helvetica';
  font-style: normal;
  padding-left: 15vw;
}
.faqStartMargin {
  font-family: 'Helvetica';
  font-style: normal;
  margin-bottom: 5vh;
  margin-top: 5vh;
}
.faqContactMargin {
  margin-bottom: 5vh;
}
.faqAccordion {
  background-color: transparent !important;
  color: #E6E6E6 !important;
  border: none !important;
  padding-bottom: 2.5vh;
  padding-left: 15vw;
}
.faqAccordionSummary {
  padding: 0 !important;
}
.faqText {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
}
.faqTextMargin {
  margin-top: 20vw;
}


.o2 {
  background-color: #f0cd42;
}


/* /Schedule */
.scheduleContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}
.scheduleGrid {
  background-color: #f0cd42;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 12.5vh;
  border-radius: 25px;
}
@media only screen and (max-width: 600px) {
  .scheduleGrid {
    height: 17.5vh;
    width: 80vw;
  }
}
.scheduleDateGrid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scheduleDateText {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  background-color: #3B3C39;
  color: #E6E6E6;
  width: 100px;
  height: 75px;
  border-radius: 30px;
}

.scheduleAgendaTxt {
  color: black;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: bolder !important;
  font-size:larger;
}
@media only screen and (max-width: 600px) {
  .scheduleAgendaTxt {
    font-weight: bold !important;
  }
}




/* /About Us */
.aboutUsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding: 20px;
}
.aboutUsGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.aboutUsTxt {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.aboutUsImg {
  width: 30vw;
}

/* /Projects */
.projectSectionTitle {
  font-family: 'Helvetica';
  font-style: normal;
  padding-left: 5vw;
  margin-top: 50px;
}
.projectBoxInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.projectSectionPadding {
  padding-left: 5vw;
}


/* /Contact US */
.contactUsText {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 650 !important;
}
.contactUsTitle {
  text-align: center;
}
.contactUsForm {
  padding-top: 20px;
  max-width: 800px;
  margin: auto;
}

/* /BottomBar */
.bottomBarGrid {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.bottomBarImg {
  width: 45px;
  height: 45px;
}
.bottomBarTopMargin {
  margin-top: 5vh;
}
.bottomBarBottomMargin {
  margin-bottom: 2.5vh;
}